<div class="panel">
  <h2><%= current_user.name %></h2>
  <h4><%= current_user.email %></h4>

  <!--<%= link_to "New Game", start_path, class: :btn %>-->

  <%= link_to "Logout", logout_path, class: :logout %>
</div>

<div class="game">
  <h4>You</h4>
  <div class="board">
    <% @board_user.each do |row| %>
      <div class="row">
        <% row.each do |cell| %>
          <div class="cell">
            <% if cell %>
              <!--<%= "#{cell[:boat][:name][0]} #{cell[:n]}" %>-->
              <div class="ship <%= boat_classes(cell).join(' ') %>"></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="game">
  <h4>Opponent</h4>
  <div class="board">
    <% @board_comp.each_with_index do |row, row_i| %>
      <div class="row">
        <% row.each_with_index do |cell, cell_i| %>
          <% status = cell && cell[:boat] && cell[:boat][:boat] ? "hit" : "" %>
          <a href="<%= fire_path row_i, cell_i %>" class="cell <%= status %>">
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
