<!DOCTYPE html>
<html>
<head>
  <title>Battleship</title>
  <%= stylesheet_link_tag    "application", "normalize", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <h1>Battleship</h1>
      </div>

      <nav>
        <!--<h2>Games Played <%= @game_count %></h2>-->
      </nav>
    </div>
  </header>

  <div class="container content">
    <%= yield %>
  </div>

</body>
</html>
